<div>
    <h1 class="text-3xl font-bold mb-4">Companies list!</h1>

    <p-table [value]="companies">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>RNC</th>
          <th>Name</th>
          <th>Commercial Name</th>
          <th>Category</th>
          <th>Payment Scheme</th>
          <th>State</th>
          <th>Economic Activity</th>
          <th>Government Branch</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
        <tr>
          <td>{{ company.id }}</td>
          <td>{{ company.rnc }}</td>
          <td>{{ company.name }}</td>
          <td>{{ company.commercialName }}</td>
          <td>{{ company.category }}</td>
          <td>{{ company.paymentScheme }}</td>
          <td>{{ company.state }}</td>
          <td>{{ company.economicActivity }}</td>
          <td>{{ company.governmentBranch }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
