<h1 class="text-3xl font-bold mb-6 text-white">Registrar Empresa</h1>

<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <p-fluid>
        <div class="card flex flex-col gap-4 w-full">
            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="rnc">RNC o Cedula</label>
                    <input pInputText id="rnc" type="text" formControlName="rnc" class="w-full" maxlength="13"/>
                </div>

                <div class="flex flex-wrap gap-2 w-full">
                    <label for="name">Nombre</label>
                    <input pInputText id="name" type="text" formControlName="name" class="w-full" />
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex flex-wrap gap-2 w-full">
                    <label for="commercialName">Nombre Comercial</label>
                    <input pInputText id="commercialName" type="text" formControlName="commercialName" class="w-full" />
                </div>
            </div>

            <div class="flex flex-wrap gap-2 w-full">
                <label for="category">Categoría</label>
                <input pInputText id="category" type="text" formControlName="category" class="w-full" />
            </div>

            <div class="flex flex-wrap gap-2 w-full">
                <label for="paymentScheme">Esquema de Pago</label>
                <input pInputText id="paymentScheme" type="text" formControlName="paymentScheme" class="w-full" />
            </div>

            <div class="flex flex-wrap gap-2 w-full">
                <label for="state">Estado</label>
                <input pInputText id="state" type="text" formControlName="state" class="w-full" />
            </div>

            <div class="flex flex-wrap gap-2 w-full">
                <label for="economicActivity">Actividad Económica</label>
                <input pInputText id="economicActivity" type="text" formControlName="economicActivity" class="w-full" />
            </div>

            <div class="flex flex-wrap gap-2 w-full">
                <label for="governmentBranch">Rama Gubernamental</label>
                <input pInputText id="governmentBranch" type="text" formControlName="governmentBranch" class="w-full" />
            </div>

            <div class="flex justify-end pt-4 w-full">
                <p-button [label]="isEditMode ? 'Editar' : 'Registrar'" [fluid]="false" (click)="onSubmit()"></p-button>
            </div>
        </div>
    </p-fluid>

    <p-toast></p-toast>
</form>
